DATABASE_URL=postgresql+psycopg2://USER:PASSWORD@HOST:5432/postgres?sslmode=require

EMAIL_HOST=imap.gmail.com
EMAIL_PORT=993
EMAIL_USER=reports@example.com
EMAIL_PASSWORD=app_password_here
EMAIL_FOLDER=INBOX
EMAIL_DELETE_AFTER_SUCCESS=true

INCOMING_DIR=data/incoming
ARCHIVE_DIR=data/archive
ERROR_DIR=data/error
