.env

__pycache__/
*.pyc
.venv/
venv/

data/incoming/**
data/archive/**
data/debug/**
data/error/**

!data/incoming/.gitkeep
!data/archive/.gitkeep
!data/debug/.gitkeep
!data/error/.gitkeep

*.log
log.txt
*.xlsx
